In [1]:
t = (1,2,3,'Chintu', [1,'mintu',12,'hitesh'])
print(t)

(1, 2, 3, 'Chintu', [1, 'mintu', 12, 'hitesh'])

In [2]:
t = (1,2,3,'Chintu', (1,'mintu',12,'hitesh'))
print(t)

(1, 2, 3, 'Chintu', (1, 'mintu', 12, 'hitesh'))

In [3]:
t = (1,2,3,'Chintu', (1,'mintu',12,'hitesh'))               # to print the element of the tuple
print(t[4])
print(t[-1])
print(t[3])

(1, 'mintu', 12, 'hitesh')
(1, 'mintu', 12, 'hitesh')
Chintu

In [4]:
t = (1,2,3,'Chintu', (1,'mintu',12,'hitesh'))          #to print the element in the nested tuple
print(t[4][2])
print(t[4][-1])

12
hitesh

In [7]:
t = (1,2,3,'Chintu', (1,'mintu',12,'hitesh'))          # To perform the slicing of the tuple
print(t[::1])
print(t[2:5])
print(t[-1::-1])

(1, 2, 3, 'Chintu', (1, 'mintu', 12, 'hitesh'))
(3, 'Chintu', (1, 'mintu', 12, 'hitesh'))
((1, 'mintu', 12, 'hitesh'), 'Chintu', 3, 2, 1)

In [8]:
t = (1,2,3) + ('chintu', 'mintu','tom', 'dick', 'harry')          # to concate the two tuples 
print(t)

(1, 2, 3, 'chintu', 'mintu', 'tom', 'dick', 'harry')

In [11]:
t = (("hello " " ")*3)             # print the string 3 
print(t)

hello  hello  hello

In [13]:
t = (1,2,3,'Chintu', (1,'mintu',12,'hitesh'))    # to delete the tuple using del keyword.
del t

In [20]:
t = (1,2,1,'Chintu',1,'Chintu',1,'Chintu')      #To check the number of counts or frequency of an element in the tuple
freq = t.count(1)
print("Number of chintu are " " ", t.count('Chintu'))
print("Number of ones in the tuple are" " ", freq)

number of chintu are   3
Number of ones in the tuple are  4

In [21]:
t = (1,2,1,'Chintu',1,'Chintu',1,'Chintu')      #To check the index of the first occurence of an element of an tuple
indi = t.index('Chintu')
print("The index of the first occurence of the chintu is " " " , indi)

The index of the first occurence of the chintu is   3

In [23]:
t = (1,2,1,'Chintu',1,'Chintu',1,'Chintu')   #check if an element is present in the tuple by using 'in' keyword.
print('Chintu' in t)
print(100 in t)

True
False

In [24]:
t = (1,2,1,'Chintu',1,'Chintu',1,'Chintu')               # to print the length of the tuple.
print(len(t))

8

In [26]:
t = (3,2,1,6,5,4,9,8,7)
sorted_tuple = sorted(t)
print("Original tuple" " ", t)
print("New tuple" " ", sorted_tuple)

Original tuple  (3, 2, 1, 6, 5, 4, 9, 8, 7)
New tuple  [1, 2, 3, 4, 5, 6, 7, 8, 9]